<div class="alert alert-danger" *ngIf="contactArr && contactArr.length == 0">
  Unable to Load contacts. Try again later
</div>

<table datatable class="row-border hover" *ngIf="contactArr && contactArr.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>username</th>
        <th>email</th>
        <th>phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactArr">
        <td> {{ contact.id }} </td>
        <td> <a routerLink="/contacts/{{contact.id}}">{{ contact.name }}</a></td>
        <td> {{ contact.username }} </td>
        <td> {{ contact.email }} </td>
        <td> {{ contact.phone }} </td>
      </tr>
    </tbody>
  </table>