<p>
  Mobiles Subcategory loaded by default!
</p>
<ul>
  <li><a [routerLink]="['./iphone']">iPhone</a></li>
  <li><a [routerLink]="['./pixel']">Google Pixel</a></li>
  <li><a [routerLink]="['./galaxy']">Samsung Galaxy (component not created yet- will not work)</a></li>
  <li><a [routerLink]="['./lg']">LG Q6 (component not created yet)</a></li>
  <li><a [routerLink]="['./oneplus']">One Plus 5T (component not created yet)</a></li>
</ul>
<p>One more router outlet</p>
<div style="border: solid 2px blue;padding: 15px;">
  <router-outlet></router-outlet>
</div>