<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="">{{ appName }} 
          <span>{{ getAppVersion() }}</span>
        </a>
      </div>
      <app-nav>
        <li>
          <a href="#contact" (click)="onLogin('arun')">Login</a>
          {{ isLoggedIn }}
        </li>
        
        <li><a href="#contact">Signup</a></li>
        <li style="margin-top:10px;">
          <input type="search" 
          placeholder="{{ searchPlaceholder }}"
          [(ngModel)]="searchQuery"> 
          <span style="color:white;">
            {{ searchQuery }}
          </span>
        </li>
      </app-nav>
    </div>
  </nav>